@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="centering">About Me</h4>
<div>
    <div class="row">
        <div class="col s12 m12 colors-2">
            <div class="card-panel transparent">
                <span class="white-text">
                    <h5 class="centering">This is where you learn about me.</h5>
                    <p>I'm currently a student enrolled in a coding vocational program at Epicodus, Portland, Oregon.  Programming has always been an interest to me, especially low level languages like C++, C#, and Java.  Until recently, I could never seem to get into the right space to dive into getting to know how to program full tilt.</p>
                    <p>At Epicodus, I have learned how to program in many different frameworks and languages.  I worked extensively with .Net (including the Entity framework) and C#.  I also had exposure to to JS frameworks such as AngularJs(using TypeScript) and Ember2.  We were encouraged to explore as many API's and libraries as we could incorporate into our projects.</p>
                    <p>Pragramming at Epicodus was a real experience. We had to pair program during the week, but do independent code reviews every Friday. Each class ended with a week long group project, where we pull all of the things we learned the prior 4 weeks into one big project.</p>
                    <hr />
                    <h5 class="centering">Interests</h5>
                    <p>In development, my main interest are developing a strong backend so front end developers can focus on creating a rich and intuitive UX.  I want to make it so technology gets out of the way of the user, so every interaction with any application is quick and smooth.</p>
                    <hr />
                    <h5 class="centering">Hobbies</h5>
                    <p>When I am not coding, I like to spend my time riding my bike, hiking, and backpacking.  Outdoor activities are extrememly important to me. I think it keeps me sane.</p>

                    <p></p>
                </span>
            </div>
        </div>
    </div>

</div>

