
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Portfolio.js"></script>
<h3 class="centering">Top Starred Repos in Portfolio</h3>
<div class="row portfolio">
<div id="starred"></div>
</div>